@import "./variables.scss";
@import "./breakpoints.scss";

.listing-details {
  margin-top: 100px;
  padding: 40px 130px 120px;


  @include xl {
    padding: 40px 80px 120px;
  }

  @include lg {
    padding: 40px 50px 120px;
  }

  @include sm {
    padding: 40px 20px 120px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    h1 {
      @include sm {
        font-size: 26px;
      }
    }

    .save {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    img {
      max-width: 280px;
    }
  }

  hr {
    margin: 20px 0;
  }

  .profile {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  p {
    max-width: 800px;
    margin-top: 20px;
  }

  .booking {
    display: flex;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
      gap: 20px;
    }

    .amenities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      margin: 30px 0;
      max-width: 700px;

      @include sm {
        grid-column-gap: 20px;
      }

      .facility {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;

        &_icon {
          font-size: 30px;
        }

        p {
          margin: 0;
        }
      }
    }

    .date-range-calendar {
      margin: 30px 0;

      h2 {
        margin-bottom: 10px;
      }

      .button {
        @include buttonStyle;
        width: 100%;
        margin-top: 30px;

        @include lg {
          max-width: 300px;
        }
      }
      .button:hover{
        background-color: #6a2ee1;
      }


      


    }
  }


  .review-section {
    margin-top: 20px;

    border: 1px solid #ccc;
    padding: 20px;
    max-height: 230px; /* Set a max height for the minimized state */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.3s ease; /* Smooth transition for max-height change */
    border-radius: 10px;
   
    &.expanded {
      max-height: none; /* Expand to show all content when expanded */
    }

   
  }

  .reviewtitle{
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 768px) {

    .review-section {
      max-height: 230px;
 
    }

  }
  .expand-link {
    color: black; /* Change color to black */
    cursor: pointer;
    text-decoration: none; /* Remove underlines */
    display: inline-block; /* Ensure link is displayed as a block */

  }

  /* Optional: Add styles for FontAwesome icons if using */
  .expand-link svg {
    margin-left: 5px; /* Adjust spacing between icon and text */
  }
  .WriteReviewButton{
    padding: 5px 8px;
    background-color: #4c1dab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  .WriteReviewButton:hover{
    background-color: #6a2ee1;
  }
}

