@import "./variables.scss";

.listing-card {


  position: relative;
  cursor: pointer;
  padding: 0px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
background-color: #ffffff;

  &:hover {
    // @include shadow;
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }


 &::after{
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
 }


  &:hover::after {
    opacity: 1;
  }






  .slider-container {
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 15px;

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 270px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 6px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;

          &:hover {
            background-color: white;
          }
        }

        .prev-button {
          left: 10px;
        }

        .next-button {
          right: 10px;
        }
      }
    }
  }

  h3 {
    font-size: 18px;
   
  }

  p {
    font-size: 16px;

  }

  span {
    font-weight: 700;
    font-size: 18px;
  }
  
  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    background: none;
  }



  .delete-button {
    background-color: #0010f7; // Red color as an example
    color: #fff; // White text color
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px; // Set equal width and height for a perfect circle
    height: 30px; // Set equal width and height for a perfect circle
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center; // Center the icon

    &:hover {
      background-color: #fd0000; // Darker red on hover
    }
  }


  .reserve-button {
    border: 1px solid #ccc;
    width: 100%;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
  display: flex; /* Use flexbox to align content */
  align-items: center; /* Center align vertically */
  justify-content: center; /* Center align horizontally */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
margin-top: 15px;
font-size: 15px;
border-radius: 10px;
text-align: center;

    &:hover {
      background-color: #d20202;
    }
    svg {
      margin-right: 5px;
      
    }
  }
  
}
.price_tag {
color: #fd0000;
}