@import "./variables.scss";
@import "./breakpoints.scss";

.login {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  // background: url("../../public/assets/login.png") center;
  // background-size: cover;
  background-color: #ffffff;
// border: 1px solid rgb(55, 0, 255);
  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 28%;
    padding: 30px;
    background-color: transparent;
    // border: 1px solid red;
    border-radius: 20px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    @include lg {
      width: 60%
    }

    @include mm {
      width: 80%
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      input {
        width: 100%;
        padding: 7px 15px;
        
        border: none;
        border-bottom: 1px solid rgba(237, 237, 237, 0.3);
        outline: none;
        text-align: center;
        color:rgb(37, 37, 37);
        font-size: large;
        background-color: #dde1e7;
        border-radius: 10px;
        box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);

        
        input:not(:placeholder-shown):focus {
          background: none; /* or background: none; */
        }

        &::placeholder {
          color:rgb(67, 66, 66);
        }
      }

      button {

        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        margin-top: 15px;

        @include buttonStyle;
        width: 100%;

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255);
        }
      }
    }

    &_google {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 15px;
      font-weight: 600;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: white;
      font-size: 10px;
      text-align: center;
    }
  }
}
